@mixin atXSmall {
  @media (min-width: 400px) {
    @content;
  }
}
@mixin atSmall {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin atMedium {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin atLarge {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin atXLarge {
  @media (min-width: 1280px) {
    @content;
  }
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1,h2,h3,h4,p {
  margin: 0; padding: 0;
}
h1 {
  text-transform: uppercase;
  padding-bottom: 0.25em;
}
h2 {
  font-size: 1rem;
  padding-bottom: 3em;
}
p {
  font-size: 0.625rem;
  line-height: 1.8;

  @include atSmall {
    font-size: 0.75rem;
  }
}
a {
  color: #7bd4f9;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
a:hover, a:active, a:focus {
  color: darkorange;
}
body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  max-width: 1280px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include atLarge {
    flex-direction: row;
  }
}
.container > * {
  @include atLarge {
    flex: 0 1 100%;
  }
}
.img-wrap {
  position: relative;
}
.img-wrap::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;

  @include atLarge {
    background-attachment: scroll;
  }
}
.img-left::after {
  background-image: url(./img/croc-eye.jpg);
}
.img-center::after {
  background-image: url(./img/suset-mood-ukraine.jpg);
}
.img-right::after {
  background-image: url(./img/venice-italy.jpg);
}

.center {
  background-color: rgba(16, 129, 177, 0.7);
}
.right {
  background-color: rgba(255, 255, 255, 0.8);
  color: #1081b1;
}
.left, .center, .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;

  @include atXSmall {
    padding: 0 3.125rem;
  }
  @include atSmall {
    padding: 0 6.25rem;
  }
  @include atLarge{
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 2rem;
    padding-top: 50vh;
    min-height: 600px;
  }
}
.left {
  justify-content: flex-end;
  padding-bottom: 3rem;
  background-color: rgba(0, 0, 0, 0.8);
}