html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  max-width: 1280px;
  background-color: black;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: uppercase;
  padding-bottom: 0.25em;
}

h2 {
  font-size: 1rem;
  padding-bottom: 3em;
}

p {
  font-size: 0.625rem;
  line-height: 1.8;
}
@media (min-width: 600px) {
  p {
    font-size: 0.75rem;
  }
}

a {
  color: #7bd4f9;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

a:hover, a:active, a:focus {
  color: darkorange;
}

.container {
  padding: 0.75rem;
}
@media (min-width: 992px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.img-wrap {
  position: relative;
}
@media (min-width: 992px) {
  .img-wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.img-wrap > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
  height: 100vh;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@media (min-width: 992px) {
  .img-wrap > * {
    /* keeps images from expanding */
    background-attachment: scroll;
    /* vertically center all text */
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 50vh;
  }
}

.img-wrap > *:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.left {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 2rem;
}
@media (min-width: 992px) {
  .left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.right {
  color: #1081b1;
}

/* opacity layers for boxes */
.left:after {
  background-color: rgba(0, 0, 0, 0.75);
}

.center:after {
  background-color: rgba(16, 129, 177, 0.75);
}

.right:after {
  background-color: rgba(255, 255, 255, 0.8);
}

.box * {
  /* brings all text selectors (h1,h2,p) forward from underneath opacity layer */
  z-index: 1;
}