/* © sjbeli */
/* RESET ITEMS */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0; padding: 0;
}
/* COLORS From: https://www.canva.com/colors/color-palettes/emerald-entrance/ */
/* And a few other redundant settings */
:root {
  --blue: #3968B0;
  --blue2: #054ab2;

  --black: black;
  --black2: #122620;
  --black3: #555;
  --black4: #777;

  --white: white;
  --white2: #bbb;
  --white3: #999;

  --light-gray: #ccc;

  --opacity: 0.98;
  --opacity2: 0.96;

  --transition: 0.3s;

  --min-width: 290px;
  --max-width: 1920px;
  --max-width2: 800px; /* .main section only (max-readability) */
}
html {
  scroll-behavior: smooth;
}

/* BODY */
body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--white);
  font-family: 'Quicksand', sans-serif;
}
body,
nav {
  min-width: var(--min-width);
  max-width: var(--max-width);
}

/* NAVIGATION ITEMS */
nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 0.25rem 0;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--blue);
  filter: opacity(var(--opacity));
}
ul {
  display: flex;
  flex-wrap: wrap;
}
.top-nav {
  list-style-type: none;
  justify-content: center;
}
li a {
  display: block;
  padding: 1rem;
}
.about-list {
  display: block;
  line-height: 1.55;
  margin: 0 0 2.25rem;
  padding-left: 2rem;
  color: var(--black3);
}
.about-list li a {
  display: inline-block;
  padding: 0;
  }
.about-list li a:first-child {
  display: inline;
}
/* ADJUST HOME ICON (nav) VERTICAL ORIENTATION (google!) */
li:first-child {
  margin-bottom: -5px;
}
/* NOW NEED TO RE-ADJUST ABOUT-LIST :first-child BECAUSE ABOVE (google) */
.about-list li:first-child {
  margin-bottom: 0;
}

/* HERO CONTAINER ITEMS */
.hero-container {
  height: 100vh;
  min-height: 555px;
  max-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url('../img/checkup.jpg');
  background-attachment: scroll;
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(57, 104, 176, 0.1);
}
#logo {
  width: 120px;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 0.5rem;
}
.header-text {
  width: 100%;
  padding: 1rem 0.5rem 1.25rem;
  text-align: center;
  background-color: var(--blue);
  filter: opacity(var(--opacity2));
}
.phone {
  padding-bottom: 0;
}
.phone a:hover,
.phone a:focus {
  color: var(--light-gray);
}

/* FONT ITEMS */
h1 {
  font-size: 1.75rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
}
h2, h3 {
  font-size: 1.25rem;
  font-weight: 500;
}
.initial-char-limit-25 {
  max-width: 25ch;
}
.site-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
}
.site-description {
  font-size: 1rem;
  color: var(--white);
}
a {
  color: var(--white);
  text-decoration: none;
  transition: var(--transition) ease-in-out all;
  -webkit-transition: var(--transition);
   -moz-transition: var(--transition);
   -ms-transition: var(--transition);
   -o-transition: var(--transition);
}
a:hover,
a:focus {
  color: var(--light-gray);
  border-bottom: none;
}
.pricing {
  font-weight: 400;
  font-style: italic;
  color: var(--black3);
}

/* MAIN SECTION ITEMS */
section h2,
section h3,
section p {
  padding-bottom: 0.5rem;
}
.main {
  padding: 2rem 1rem 1rem;
}
.main p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  padding-top: 0.5rem;
  color: var(--black3);
}
.main h1 {
  padding-bottom: 1.5rem;
  color: var(--black);
}
.main h2 {
  color: var(--black2);
}
.main h2,
.main h3 {
  line-height: 1.5;
}
.main h3 {
  width: fit-content;
  margin-top: 0.5rem;
  font-size: 1.125rem;
  padding: 0;
  color: var(--black4);
}
.main h3::before {
  content:"\2695";
  margin-right: 0.125rem;
  color: var(--blue);
}
.main a {
  border-bottom: 1px dotted var(--blue);
  color: var(--blue);
}
.main a:hover,
.main a:focus {
  color: var(--blue2);
  border-bottom: 1px dotted transparent;
}
.last {
  padding-bottom: 2.25rem;
}

/* INFO FOR CONTACT - PAYMENTS - LOCATION INFO */
.main-bottom {
  padding: rem 0;
}
/* NOT CURRENTLY IN USE! */
/* .main-bottom h2 {
  border-bottom: 1px solid var(--light-gray);
  width: fit-content;
  margin-bottom: 0.5rem;
  padding: 0.125rem 0;
} */

/* PAGE ANCHOR FIXES */
/* CONTACT ANCHOR FIX 1 of 3 */
#contact {
  margin-top: -9rem;
  padding-top: 9rem;
}
/* REPAIR, SPYWARE, DATA, NETWORKS ANCHOR FIX 1 of 3 */
#repair, #spyware, #data, #networks {
  margin-top: -10.325rem;
  padding-top: 10.325rem;
}
.g-icon {
  display: flex;
  align-items: center;
}

/* MATERIAL-SYMBOLS-OUTLINED - GOOGLE FONTS & ICONS/SYMBOLS:
https://fonts.google.com/icons?icon.set=Material+Symbols */
.material-symbols-outlined {
  font-size: 1.5rem;
  line-height: 0;
  margin-top: 0.5rem;
}
.main .material-symbols-outlined {
  margin-top: 0;
  margin-right: 0.5rem;
  color: var(--blue);
}
/* GOOGLE MAPS FIX */
iframe {
  margin: 1rem 0;
  border: 1px solid var(--light-gray);
  width: 100%;
  height: 300px;
}

/* FOOTER ITEMS */
footer {
  font-size: 0.75rem;
  font-weight: 400;
  padding: 1.5rem 0.5rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.8;
  background-color: var(--blue);
  color: var(--white);
}
footer a {
  color: var(--light-gray);
}
footer a:hover,
footer a:focus {
  color: var(--white);
}
.privacy-terms {
  margin-top: 1rem;
}

/********* BEGIN MEDIA QUERIES ***********/
@media screen and (min-width: 343px) {
  .header-text {
    margin: 1.5rem 0;
  }
  /* CONTACT ANCHOR FIX 2 of 3 */
  #contact {
    margin-top: -6rem;
    padding-top: 6rem;
  }
  /* REPAIR, SPYWARE, DATA, NETWORKS ANCHOR FIX 2 of 3 */
  #repair, #spyware, #data, #networks {
    margin-top: -7.325rem;
    padding-top: 7.325rem;
  }
}
@media screen and (min-width: 515px) {
  /* CONTACT ANCHOR FIX 3 of 3 */
  #contact {
    margin-top: -3.75rem;
    padding-top: 3.75rem;
  }
  /* REPAIR, SPYWARE, DATA, NETWORKS ANCHOR FIX 3 of 3 */
#repair, #spyware, #data, #networks {
    margin-top: -5.075rem;
    padding-top: 5.075rem;
  }
  ul {
    padding: 0 1rem;
    align-items: center;
    flex-wrap: nowrap;
  }
  nav {
    padding: 0;
  }
  .top-nav {
    justify-content: space-around;
  }
  li {
    padding-right: 1rem;
  }
  li:first-child {
    padding-right: 1.5rem;
  }
  li:last-child {
    padding-right: 0;
  }
  li a {
    padding: 1rem 0;
  }
  li a:hover,
  li a:focus {
    background-color: transparent;
  }
  #logo {
    width: auto;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .site-title {
    font-size: 2rem;
  }
  .site-description {
    font-size: 1.25rem;
  }
  .main h1,
  .main h2 {
    max-width: fit-content;
  }
  .main h3 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 660px) {
  nav {
    font-size: 0.875rem;
  }
  .material-symbols-outlined {
    margin-right: -0.5rem;
  }
  .footer-info {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 800px) {
  .main {
    max-width: var(--max-width2);
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 900px) {
  nav {
    font-size: 1rem;
  }
  li:first-child {
    padding-right: 0;
  }
  .top-nav {
    justify-content: space-evenly;
  }
  .hero-container {
    background-attachment: fixed;
  }
  iframe {
    height: 500px;
  }
}
/********* END MEDIA QUERIES ***********/
/* END */