/* Last updated 22/12/08 15:35 sjbeli */
/* RESET ITEMS */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0; padding: 0;
}
/* COLORS From: https://www.canva.com/colors/color-palettes/emerald-entrance/ */
:root {
  --black: black;
  --black2: #122620;
  --black3: #555;
  --light-gray: #999;
  --gold: #B68D40;
  --gold2: #D6AD60;
  --cream: #F4EBD0;
  --white: white;
  --opacity: 0.90;
  --opacity2: 0.85;
}
html {
  scroll-behavior: smooth;
}

/* BODY */
body {
  display: flex;
  flex-direction: column;
  min-width: 290px;
  max-width: 1400px;
  margin: 0 auto;
  background-color: var(--white);
  color: var(--gold);
  font-family: 'Quicksand', sans-serif;
}

/* NAVIGATION ITEMS */
nav {
  max-width: 1400px;
  min-width: 290px;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  background-color: var(--black);
  filter: opacity(var(--opacity));
  position: fixed;
  z-index: 2;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}
li a {
  display: block;
  padding: 1rem;
}
.about-list {
  display: block;
  list-style-type: disc;
  line-height: 1.5;
  margin: 0 0 2.25rem;
  padding-left: 2rem;
  color: var(--black3);
}
.about-list li a {
  display: inline-block;
  padding: 0;
  }
/* ADJUST NAV HOME ICON VERTICAL ORIENTATION (fn google!) */
li:first-child {
  margin-bottom: -5px;
}
/* NOW NEED TO RE-ADJUST ABOUT-LIST FIRST CHILD BECAUSE ABOVE (yea, f-google) */
.about-list li:first-child {
  margin-bottom: 0;
}

/* HERO CONTAINER ITEMS */
.hero-container {
  height: 75vh;
  min-height: 555px;
  max-height: 600px;
  max-width: 1400px;
  min-width: 290px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url('../img/manch-downtown-above.jpg');
  /* background-attachment: fixed; */
}
.overlay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
}
#logo {
  padding: 2rem 0 0.25rem;
  width: 120px;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.header-text {
  width: 100%;
  margin: 0;
  padding: 1rem 0.5rem 1.25rem;
  text-align: center;
  background-color: var(--black);
  filter: opacity(var(--opacity2));
}
.phone {
  padding-bottom: 0;
}
.phone a:hover,
.phone a:focus {
  color: var(--gold);
}

/* FONT ITEMS */
h1 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--gold2);
}
h2, h3 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gold2);
}
a {
  color: var(--white);
  text-decoration: none;
  transition: ease-in-out 0.25s all;
}
a:hover,
a:focus {
  color: var(--gold);
  border-bottom: none;
}

/* MAIN SECTION ITEMS */
section h1,
section h2,
section h3,
section p {
  padding-bottom: 0.5rem;
}
.main p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  padding-top: 0.5rem;
  color: var(--black3);
}
.last {
  padding-bottom: 2.25rem;
}
.main-bottom {
  padding: 1rem 0;
}
.main-bottom h2 {
  border-bottom: 1px solid var(--light-gray);
  width: fit-content;
  margin-bottom: 0.5rem;
  padding: 0.125rem 0;
}
.main {
  padding: 2rem 1rem 0;
}
.main h2 {
  color: var(--black2);
  font-weight: 500;
}
.main a {
  color: var(--gold2);
  border-bottom: 1px dotted var(--gold2);
}
.main a:hover,
.main a:focus {
  color: var(--gold);
  border-bottom: 1px dotted transparent;
}
/* ANCHOR FIX 1 of 3 */
#contact {
    margin-top: -8rem;
    padding-top: 8em;
  }

/********* BEGIN MEDIA QUERIES ***********/
@media screen and (min-width: 343px) {
  /* ANCHOR FIX 2 of 3 */
  #contact {
    margin-top: -5rem;
    padding-top: 5rem;
  }
}
@media screen and (min-width: 512px) {
  /* ANCHOR FIX 3 of 3 */
  #contact {
    margin-top: -2.75rem;
    padding-top: 2.75rem;
  }
  ul {
    padding: 0 1rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }
  li {
    padding-right: 1rem;
  }
  li:first-child {
    padding-right: 1.5rem;
  }
  li:last-child {
    padding-right: 0;
  }
  li a {
    padding: 1rem 0;
  }
  li a:hover,
  li a:focus {
    background-color: transparent;
  }
  #logo {
    width: auto;
  }
  h1 {
    font-size: 2rem;
  }
  .main h1 {
    font-size: 1.75rem;
}
  h2, h3 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 655px) {
  nav {
    font-size: 0.875rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 900px) {
  nav {
    font-size: 1rem;
  }
  li:first-child {
    padding-right: 0;
  }
}
/********* END MEDIA QUERIES ***********/

/* GOOGLE MAP */
iframe {
  margin: 1rem 0;
  border: none;
  width: 100%;
  height: 400px;
}

/* FOOTER ITEMS */
footer {
  font-size: 0.875rem;
  font-weight: 400;
  padding: 1.5rem 0.5rem;
  text-align: center;
  line-height: 1.8;
  background-color: var(--black);
  color: var(--cream);
}
footer a {
  color: var(--gold);
}
footer a:hover,
footer a:focus {
  color: var(--gold2);
}

/* MATERIAL-SYMBOLS-OUTLINED - GOOGLE FONTS & ICONS/SYMBOLS:
https://fonts.google.com/icons?icon.set=Material+Symbols */

.material-symbols-outlined {
  font-size: 1.5rem;
  line-height: 0;
  margin-top: 0.5rem;
}