/* Last updated 22/12/07 17:20 sjbeli */
/* RESET ITEMS */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0; padding: 0;
}
/* COLORS */
/* From: https://www.canva.com/colors/color-palettes/emerald-entrance/ */
:root {
  --black: black;
  --black2: #122620;
  --black3: #444;
  --gold: #B68D40;
  --gold2: #D6AD60;
  --cream: #F4EBD0;
  --white: white;
}
html {
  scroll-behavior: smooth;
}

/* BODY & HEADER ITEMS */
body {
  display: flex;
  flex-direction: column;
  min-width: 290px;
  max-width: 1400px;
  margin: 0 auto;
  background-color: var(--white);
  color: var(--gold);
  font-family: 'Quicksand', sans-serif;
}
#site-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 55vh;
  min-height: 455px;
  width: 100vw;
  max-width: 1400px;
  min-width: 290px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-image: url('../img/manch-downtown-med.jpg');
  background-attachment: scroll;
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(100,100,100,0.33);
}
#logo {
  padding: 1rem 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header-text {
  width: 100%;
  margin: 0;
  padding: 1rem 0 1.25rem;
  text-align: center;
  background-color: var(--black);
  filter: opacity(0.9);
}
.phone {
  padding-bottom: 0;
}
.phone a:hover,
.phone a:focus {
  color: var(--cream);
}

/* NAVIGATION ITEMS */
nav {
  font-size: 0.75rem;
  font-weight: 500;
  width: 100%;
  background-color: var(--black);
  text-transform: uppercase;
  filter: opacity(0.9);
  position: sticky;
  top: 0;
  z-index: 5;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
li {
  list-style-type: none;
}
li a {
  display: block;
  padding: 1rem;
}

/* ADJUST HOME ICON ORIENTATION (fn google) */
li:first-child {
  margin-bottom: -5px;
}

/* SECTION & MAIN ITEMS */
section.main {
  padding: 2rem 1rem 1rem;
}
.main h2 {
  color: var(--black2);
  font-weight: 500;
}
.main a {
  color: var(--gold2);
  border-bottom: 1px dotted var(--gold2);
}
.main a:hover,
.main a:focus {
  color: var(--gold);
}

/* FONT ITEMS */
h1 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--gold2);
}
h2, h3 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gold);
}
a {
  color: var(--white);
  text-decoration: none;
  transition: ease-in-out 0.25s all;
}
a:hover,
a:focus {
  color: var(--gold);
  border-bottom: none;
}

/********* MEDIA QUERIES ***********/
@media screen and (min-width: 512px) {
  ul {
    padding: 0 1rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }
  li {
    padding-right: 1rem;
  }
  li:first-child {
    padding-right: 1.5rem;
  }
   li:last-child {
    padding-right: 0;
  }
  li a {
    padding: 1rem 0;
  }
  li a:hover,
  li a:focus {
    background-color: transparent;
  }
  h1 {
    font-size: 2rem;
  }
  h2, h3 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 655px) {
  nav {
    font-size: 0.875rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 900px) {
  nav {
    font-size: 1rem;
  }
  li:first-child {
    padding-right: 0;
  }
}
/********* END MEDIA QUERIES ***********/

/* MAIN SECTION ITEMS */
section h1,
section h2,
section h3,
section p {
  padding-bottom: 1rem;
}
section p {
  font-size: 1rem;
  color: var(--black3);
  line-height: 1.6;
  font-weight: 400;
}
.last {
  padding-bottom: 2.25rem;
}

/* FOOTER ITEMS */
footer {
  font-size: 0.875rem;
  font-weight: 400;
  padding: 1.5rem 0.5rem;
  text-align: center;
  line-height: 1.8;
  background-color: var(--black);
  color: var(--cream);
}
footer a {
  color: var(--gold2);
}
footer a:hover,
footer a:focus {
  color: var(--gold);
}

/* MATERIAL-SYMBOLS-OUTLINED - GOOGLE FONTS & ICONS/SYMBOLS:
https://fonts.google.com/icons?icon.set=Material+Symbols */

.material-symbols-outlined {
  font-size: 1.5rem;
  line-height: 0;
  margin-top: 0.5rem;
}