@mixin atXSmall {
  @media (min-width: 400px) {
    @content;
  }
}
@mixin atSmall {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin atMedium {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin atLarge {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin atXLarge {
  @media (min-width: 1280px) {
    @content;
  }
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  max-width: 2560px;
  background-color: black;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1,h2,h3,h4,p {
  margin: 0; padding: 0;
}
h1 {
  /* font-size: 6rem; */
  font-size: 3.5rem;
  text-transform: uppercase;
  padding-bottom: 0.25em;
}
h2 {
  font-size: 1rem;
  padding-bottom: 3em;
}
p {
  font-size: 0.625rem;
  line-height: 1.8;

  @include atSmall {
    font-size: 0.75rem;
  }
}
a {
  color: #7bd4f9;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
a:hover, a:active, a:focus {
  color: darkorange;
}

.container {
  padding: 0.75rem;

  @include atMedium {
    display: flex;
  }
}

.img-wrap {
  position: relative;

  @include atMedium {
    flex: 0 1 100%;
  }
}

.img-wrap > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  height: 100vh;
  min-height: 540px;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  @include atSmall {
    padding: 0 4rem;
  }

  @include atMedium {
    padding: 0 6rem;
  }

  @include atMedium {
    /* keeps images from expanding */
    background-attachment: scroll;
    /* vertically center all text */
    justify-content: flex-start;
    /* reset padding to base */
    padding: 0 2rem;
    padding-top: 50vh;
    min-height: 670px;
  }
}
.img-wrap > *:after {
  content: '';
  position: absolute;
  display: block;
  height: auto;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.left {
  justify-content: flex-end;
  padding-bottom: 2rem;

  @include atMedium {
    /* reset justify-content to vertically center all text */
    justify-content: flex-start;
  }
}
.left h1 {
  /* font-size: 3.5rem; */
}
.center h1 {
  text-align: left;

  @include atMedium {
    text-align: right;
  }
}
.right {
  color: #0e5cca;
}

/* opacity layers for left, center, right boxes */
.left:after {
  background-color: rgba(0, 0, 0, 0.6);
}
.center:after {
  background-color: rgba(0, 77, 211, 0.75);
}
.right:after {
  /* background-color: rgba(255, 255, 255, 0.8); */
}

.box * {
  /* bring all text selectors (h1,h2,p) forward from underneath above opacity layers */
  z-index: 1;
}