$primaryFont: 'Bree Serif', serif;
$secondaryFont: Verdana, Geneva, Tahoma, sans-serif;
$theTransition: ease-in-out all 0.4s;

$absMinWidth: 300px;
$maxWidthPg: 1920px;
$maxWidthContent: 1280px;

$primaryBlack: #1f1f1f;
$secondaryBlack: #252525;

$primaryWhite: #fff;
$secondaryWhite: ivory;

$primaryGold: #deb86c;
$orderColor: #fcb900;

$primaryHover: brown;