/* sjb last updated: 4-5-21 */
:root {
  --main-font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --title-font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --main-color: burlywood;
  --secondary-color: darkslategray;
  --hero-text-color: cornsilk;
  --hover-color: chocolate;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: var(--main-color);
  color: var(--secondary-color);
  margin: 0 auto;
  padding: 1.25rem 1rem 1rem;
  min-width: 320px;
  max-width: 1280px;
  font-family: var(--main-font);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
a:hover, a:active, a:focus {
  color: var(--hover-color);
  -webkit-filter: drop-shadow(0.125rem -0.875rem 0.875rem var(--hover-color));
          filter: drop-shadow(0.125rem -0.875rem 0.875rem var(--hover-color));
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 50px;
  font-size: 0.75rem;
  text-transform: uppercase;
}
@media (min-width: 400px) {
  nav, footer {
    font-size: 0.875rem;
  }
}
@media (min-width: 600px) {
  nav, footer {
    font-size: 1rem;
  }
}

nav {
  min-height: 40px;
}
nav h1 {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font-weight: normal;
}

.logo {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.logo:hover {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.brand {
  font-family: var(--title-font);
}
@media (min-width: 600px) {
  .brand {
    margin-left: 8.75rem;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 600px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.menu li {
  line-height: 2;
}
@media (min-width: 400px) {
  .menu li {
    line-height: 1.75;
  }
}
@media (min-width: 600px) {
  .menu li {
    padding-right: 1rem;
  }
  .menu li:last-child {
    padding-right: 0;
  }
}

.hero {
  position: relative;
  padding: 1rem 0;
}
.hero a {
  color: var(--hero-text-color);
  border-bottom: 1px dotted transparent;
}
.hero a:hover, .hero a:active, .hero a:focus {
  color: var(--main-color);
  border-bottom: 1px dotted var(--hero-text-color);
}

img.lauren {
  position: absolute;
  /* use top: 48% to account for .video__wrap-text below */
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 960px;
  height: auto;
  padding-left: 1rem;
}

.video {
  width: 100%;
  height: 85vh;
  min-height: 425px;
  -o-object-fit: cover;
     object-fit: cover;
}
.video__wrap-text {
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.video__bottom-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.video__bottom-text p {
  margin: 0 1rem;
  padding: 1rem 0;
}